<ion-header [translucent]="true">
  <ion-toolbar color="tenue">
    <ion-title>
      Ei-Bey
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="light">
          <img src="https://img.freepik.com/vetores-gratis/asbtract-fundo-colorido-de-vendas_23-2148400658.jpg?w=2000" alt="">
          <ion-item lines="none" color="black">
            <ion-label class="titulo-promocao" color="black">Confira nossos preços</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card color="light">
          <img src="https://as1.ftcdn.net/v2/jpg/01/60/89/86/1000_F_160898614_wE13F6CA2U6jkbp5LBgtNnENFb7b5Ngs.jpg" alt="">
          <ion-item lines="full" color="light">
            Servidores
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="light">
          <img src="https://img.freepik.com/free-vector/colorful-stationery-supplies-collection_53876-67778.jpg?w=740&t=st=1691537538~exp=1691538138~hmac=e3e0de652afc649f2c933465f544eba5fb7f3043c40045ecd9a8631d85f14216" alt="">
          <ion-item lines="full" color="light">
            Escritorio
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>

</ion-footer>
